.App {
  text-align: center;
}

.partOne {
  padding: 20px;
  background-color: lightgrey;
  border-bottom: 1px dashed tomato;
}

.partTwo {
  padding: 20px;
  background-color: lightcyan;
  border-bottom: 1px dashed tomato;
}

.partThree {
  padding: 20px;
  background-color: white;
  border-bottom: 1px dashed tomato;
}

.partFour {
  padding: 20px;
  background-color: white;
  border-bottom: 1px dashed tomato;
}
